.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem; /* serve para dar um sensação de caso a tala diminua, o tamnho 
                      não de uma sensação de que está sendo toda ocupada */
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start; /* Se não for colocado, ele vai forçar a os dois elementos
                              (sidebar e main) e ficar do mesmo tamnho. Dessa forma eu
                              garanto que ele vai ficar alinhado ao topo  */
}